#infos {
    position: fixed;
    bottom: 0;
    width:auto;
    border: 1px solid #80c8df;
    size: 150;
    background-color: rgb(239, 241, 243);
    font-size:larger;
    left:20%
}

form {
    position: static;
    margin: auto;
    width: 25%;
}
h1 {
    
    position: static;
    margin: auto;
    width: 27.5%;
}